.main {
    border-radius: 1px;
    border: solid;
    border-color:antiquewhite;
    background-color: antiquewhite;
    text-align: center;
    height: 480px;
    width: 380px;
    padding: 10px;
}